*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
 }   
 html,
 body{
    width: 100%;
    height: 100%;
    background-color: darkred;
    color: darkgray;
 }

 button{
   border: none;
   background-color: transparent;
   background: none;
  }

.knapp{
   display: block;
   padding-top: 15pt;
   width: 50pt;
   height: 50pt;
   background-image: url(Asset1.png);
   background-size: cover;
 }
 .side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* menyen er gjemt ute av synet når man ikke har trykket på meny knappen */
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease; /* en naturlig og glatt overgang */
  z-index: 999;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  padding: 10px;
}

.side-menu ul li a {
  color: #fff;
  text-decoration: none;
}

#menuButton {
  position: fixed;
  top: 20px;
  left: 140px;
  z-index: 1000;
}

/* utseende for darkmode button */
#darkModeButton {
   padding: 8px 12px;
   background-color: #555;
   color: #fff;
   border: none;
   cursor: pointer;
 }
 
 #darkModeButton:hover {
   background-color: #444;
 }

 /* Dark mode utseende */
.dark-mode {
   background-color: #111;
   color: darkgray;
 }

 .video-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }

 .video{
   border: 2px solid darkgray;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 60%;
   max-height: 60vh;
   overflow: hidden;
   border-radius: 4pt;
 }

 .video video{
   width: 100%;
   height: auto;
 }

 h1{
   font-size: 40pt;
   font-family: Oswald;
   text-align: center;
} 

.dark-mode h1{
   color: red;
}

.dark-mode .video{
   border: 2px solid red;
}